/* style.css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
    /* justify-content: space-between; */
}

.header,
.section-1,
.footer {
    background-color: #1f2937;
}

.header,
.footer {
    padding: 16px;
    display: flex;
    font-size: 18px;
    color: #e5e7eb
}

.header { 
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    display: flex;
    padding: 50px 100px;
    justify-content: space-around;
    align-items: center;
}

.section-1-text {
    padding: 18px;
    width: 400px;
}

.section-1-text .main-text {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.section-1-text .sub-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.action-box,
button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 4px;
}

button {
    font-weight: bold;
    padding: 4px 16px;
}

button.invert {
    border: 2px;
    border-style: solid;
    border-color: white;
}

.section-1-img {
    background-color: gray;
    color: white;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 {
    flex-direction: column;
}

.section-2 .title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 1000;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.img-group {
    width: 150px;
    text-align: center;
}

.img-placeholder {
    height: 150px;
    width: 150px;
    border: 1px solid blue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 600px;
}


.action-text {
    display: flex;
    flex-direction: column;
}

.action-headline {
    font-weight: bold;
}

.action-body {
    font-size: 12px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: 700;
    align-self: flex-end;
}

.footer { 
    justify-content: center;
}