/* style.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}